* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #0f0c3b;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
.logo {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.logo img {
  width: 48px;
}
.navbar {
  padding: 35px 0px 20px 0px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul li {
  display: inline-block;
  margin-left: 35px;
}
.nav-icon ul li {
  padding-left: 20px;
}
.nav-icon ul li :hover {
  color: #9c9c9c;
}
ul li a {
  color: #ffffff;
  text-decoration: none;
}
ul li a:hover {
  text-decoration: none;
  color: red;
}
.main-text {
  text-align: center;
  font-size: 26px;
  color: #ffffff;
  margin-top: 10%;
}

.main {
  letter-spacing: 4px;
  font-size: 43px !important;
  font-family: "roboto", "Koulen", cursive;
}
.primary {
  font-family: lato;
}
.screenpost {
  font-size: 30px;
  margin-left: 10px;
  font-weight: 500;
  /* font-family: "bison", "sans serif"; */
}
.bottom-text {
  color: #ffffff;
  position: absolute;
  bottom: 5%;
  padding: 0;
  /* padding: 35px 35px 20px 35px; */
}
p {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  margin-right: 10px;
  margin-left: 0;
}
.icon {
  font-size: 30px;
}
.menu-order {
  float: right;
}
.menu-order ul {
  float: right;
}
.menu-order ul li {
  color: #ffffff;
  display: block;
  padding: 4px;
  margin-right: 0px;
  border-bottom: 1px solid #ffffff;
  cursor: pointer;
}
.menu-order ul li:hover {
  color: green;
}

.typed-cursor {
  display: none;
}
